.number {
	font-weight: bold;
	font-size: 1.5vw;
	text-align: left;
}
.description {
	color: darkslategrey;
}
.important {
	font-weight: bold;
}
fieldset {
	padding: 0.75vw;
	margin-bottom: 1.5vw;
	border-radius: 0.5vw;
	border-style: solid;
	border-width: 0.05vw;
	font-size: 1.2vw;
}
