html {
	height: 100vh;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

header {
	margin: 5px;
	margin-bottom: 10px;
}

h1 {
	display: inline;
	font-size: 1.2em;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.space {
	display: block;
	flex: 1;
	height: 15px;
}

.formrow {
	text-align: center;
	display: block;
}

footer {
	width: 95vw;
	display: flex;
	justify-content: space-between;
}

a:link { 
	text-decoration: none;
	color: red;
}

a:visited {
	text-decoration: none;
	color: gray;
}

a:hover {
	text-decoration: underline;
}

#reset {
	cursor: pointer;
	color: gray;
}

.button {
	display: inline-flex;
	background: #b7b7b7;
	padding: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 0px 0px #000;
	user-select: none;
}
.button:hover {
	opacity: 0.9;
}
.button:active {
	box-shadow: inset 1px 1px 0px 0px #000;
}

.ui-element {
	border-radius: 7px;
	border-style: solid;
	border-width: thin;
	text-align: center;
	margin: 2px;
}

.ui-element:focus-visible {
	outline: none;
}



.inout-container {
	display: flex;
	justify-content: center;
}

.column-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.inputs-container {
	display: flex;
	flex-direction: column;
}

.buttons-container {
	
}

.textarea {
	display: flex;
	align-items: flex-start;
	padding: 5px;
	width: 60ch;
	overflow: hidden;
	font-family: monospace;
	flex-wrap: wrap;
	flex-direction: column;border-radius: 7px;
	border-style: solid;
	border-width: thin;
	margin: 2px;
}

.err {
	border: thin solid red;
	border-radius: 5px;
	padding: 2px;
}
